@{
    ViewBag.Title = "Fast Coin Trader";
}
@using FastCoinTrader.EnitityModels.EntityHelper

<script>
                        window.onload = function () {
                            var toggle = false;
                            $("input").hide();
                            if (typeof document.getElementsByClassName("editButton")[0] !== "undefined")
                            {
                                $(".editButton").click(function () {
                                    if (toggle === false) {
                                        $(this).html("Save");
                                        toggle = true;
                                        $($(this).parent()).find(".panel-title").attr("contenteditable", true).addClass("editable");
                                        $($($(this).parent()).parent()).find(".editDiv").attr("contenteditable", true).addClass("editable");
                                        $($($(this).parent()).parent()).find("input").show();
                                    }
                                    else {
                                        toggle = false;
                                        $(this).html("Edit");
                                        $($(this).parent()).find(".panel-title").attr("contenteditable", false).removeClass("editable");
                                        $($($(this).parent()).parent()).find(".editDiv").attr("contenteditable", false).removeClass("editable");
                                        $($($(this).parent()).parent()).find("input").hide();
                                        SavePanel()
                                    }
                                });
                            } 
                        }

function SavePanel(_title,_paragraph,_videoLink,_panelNumber) {
$.post("/News/SaveNewsEntry",
    {
        title: _title,
        paragraph: _paragraph,
        videoLink: _videoLink,
        panelNumber: _panelNumber
    },
    function (data) {
        alert(data.Message);
    });
}

</script>
<style>
.editable {    
    background-color:#fff !important;
    border: 1px solid #808080;
    color:#000;
}
h3.panel-title {
width:95%;    
}
button.edit {
    position: relative;
    bottom: 19px; 
    float:right; 
}
iframe {
    width:100% !important;
    height:300px !important;    
}
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Trade Dashboard <small>News</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-newspaper-o"></i> News
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">FastCoinTrader getting started, the basics...</h3><button type="button" class="btn btn-xs btn-default editButton edit">Edit</button>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-lg-6"><iframe src="https://www.youtube.com/embed/QDXkopRynro" frameborder="0" allowfullscreen></iframe><br/><input type="text" name="iframeSrc" placeholder="Video URL..."></div>
                <div class="editDiv col-xs-12 col-sm-12 col-lg-6">
                    <p>We have put together a basic video tutorial which will help you to get started with the Altcoin Trader platform.</p>
                    <p>This video should help you understand how to buy a bitcoin and then how you could send that bitcoin to yourself or someone on the other side of the world!</p>                                                           
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">FastCoinTrader Launch </h3><button type="button" class="btn btn-xs btn-default editButton edit">Edit</button>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-lg-6"><iframe src="https://www.youtube.com/embed/HnnVxS-J9vA" frameborder="0" allowfullscreen></iframe><br/><input type="text" name="iframeSrc" placeholder="Video URL..."></div>
                <div class="editDiv col-xs-12 col-sm-12 col-lg-6">
                    <p>Today 23rd March 2015 is a big day here at AltCoinTrader as we launch our South African online trading platform...</p>
                    <p>It all started in late 2013 when the development team at Netspace Internet Solutions (Pty)Ltd began developing an online trading platform. We wanted to create a powerful yet easy to use trading site where South Africans could buy, sell and trade not only bitcoin but other alternative currencies like litecoin and namecoin.</p>
                    <p>After nearly 18 months of planning, re-planning, development and testing... Here we are!</p>
                </div>                
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

