@{
    ViewBag.Title = "Fast Coin Trader";
}
@using FastCoinTrader.EnitityModels.EntityHelper

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Trade Dashboard <small>News</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-newspaper-o"></i> News
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">FastCoinTrader getting started, the basics... <button style="float:right" type="button" class="btn btn-xs btn-default">Edit</button></h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-lg-6"><iframe width="100%" height="300" src="https://www.youtube.com/embed/QDXkopRynro" frameborder="0" allowfullscreen></iframe></div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <p>We have put together a basic video tutorial which will help you to get started with the Altcoin Trader platform.</p>
                    <p>This video should help you understand how to buy a bitcoin and then how you could send that bitcoin to yourself or someone on the other side of the world!</p>
                    <p><strong>We cover:</strong></p>
                    <ul>
                        <li>How to buy a bitcoin</li>
                        <li>Basic site featuresres</li>
                        <li>How to send a Bitcoin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">AtlCoinTrader Launch <button style="float:right" type="button" class="btn btn-xs btn-default">Edit</button></h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-lg-6"><iframe width="100%" height="300" src="https://www.youtube.com/embed/HnnVxS-J9vA" frameborder="0" allowfullscreen></iframe></div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <p>Today 23rd March 2015 is a big day here at AltCoinTrader as we launch our South African online trading platform...</p>
                    <p>It all started in late 2013 when the development team at Netspace Internet Solutions (Pty)Ltd began developing an online trading platform. We wanted to create a powerful yet easy to use trading site where South Africans could buy, sell and trade not only bitcoin but other alternative currencies like litecoin and namecoin.</p>
                    <p>After nearly 18 months of planning, re-planning, development and testing... Here we are!</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->