<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--For now while we have different connectionstrings lets just each have one that works on our local system and comment out the others... this will be in UI's webconfig and in App.config in Entity Models-->
    <!--<add name="FastCoinTraderContext" connectionString="metadata=res://*/FastCoinTraderContext.csdl|res://*/FastCoinTraderContext.ssdl|res://*/FastCoinTraderContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=arno-laptop;initial catalog=FastTraderDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="FastCoinTraderContext" connectionString="metadata=res://*/FastCoinTraderContext.csdl|res://*/FastCoinTraderContext.ssdl|res://*/FastCoinTraderContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOUIS\SQLEXPRESS;initial catalog=FastTraderDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FastCoinTraderContext" connectionString="metadata=res://*/FastCoinTraderContext.csdl|res://*/FastCoinTraderContext.ssdl|res://*/FastCoinTraderContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=FastTraderDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="FastCoinTraderContext" connectionString="metadata=res://*/FastCoinTraderContext.csdl|res://*/FastCoinTraderContext.ssdl|res://*/FastCoinTraderContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOUIS\SQLEXPRESS;initial catalog=FastTraderDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>

    <!--  BitcoinLib settings start -->

    <!-- Shared RPC settings start -->
    <add key="RpcRequestTimeoutInSeconds" value="60" />
    <!-- Shared RPC settings end -->

    <!-- Bitcoin settings start -->
    <add key="Bitcoin_DaemonUrl" value="http://localhost:8332" />
    <add key="Bitcoin_DaemonUrl_Testnet" value="http://localhost:18332" />
    <add key="Bitcoin_WalletPassword" value="CF8914D8-9BBB-4E5E-8CD1-C364DF67F91D" />
    <add key="Bitcoin_RpcUsername" value="TestUser" />
    <add key="Bitcoin_RpcPassword" value="FCC7B881-67E6-43B0-A74D-2E34ABD386FF" />
    <!-- Bitcoin settings end -->

    <!-- Litecoin settings start -->
    <add key="Litecoin_DaemonUrl" value="http://localhost:9332" />
    <add key="Litecoin_DaemonUrl_Testnet" value="http://localhost:19332" />
    <add key="Litecoin_WalletPassword" value="MyWalletPassword" />
    <add key="Litecoin_RpcUsername" value="MyRpcUsername" />
    <add key="Litecoin_RpcPassword" value="MyRpcPassword" />
    <!-- Litecoin settings end -->

    <!-- Dogecoin settings start -->
    <add key="Dogecoin_DaemonUrl" value="http://localhost:22555" />
    <add key="Dogecoin_DaemonUrl_Testnet" value="http://localhost:44555" />
    <add key="Dogecoin_WalletPassword" value="MyWalletPassword" />
    <add key="Dogecoin_RpcUsername" value="MyRpcUsername" />
    <add key="Dogecoin_RpcPassword" value="MyRpcPassword" />
    <!-- Dogecoin settings end -->

    <!-- Sarcoin settings start -->
    <add key="Sarcoin_DaemonUrl" value="http://localhost:25901" />
    <add key="Sarcoin_DaemonUrl_Testnet" value="http://localhost:36523" />
    <add key="Sarcoin_WalletPassword" value="MyWalletPassword" />
    <add key="Sarcoin_RpcUsername" value="MyRpcUsername" />
    <add key="Sarcoin_RpcPassword" value="MyRpcPassword" />
    <!-- Sarcoin settings end -->

    <!-- Demo client settings start -->
    <add key="ExtractMyPrivateKeys" value="false" />
    <!-- Demo client settings end -->

    <!--  BitcoinLib settings end -->

  </appSettings>
</configuration>