@using FastCoinTrader.EnitityModels.EntityHelper
@using FastCoinTrader.EnitityModels
<div>

    @{
        var buyOffers = BuysEntityHelper.GetTopNTrades(10);
        var counter = 0;
        foreach (tbl_Buys buyOffer in buyOffers)
        {
            ViewContext.Writer.Write("<tr class='row" + ++counter + "'>");
            ViewContext.Writer.Write("<td class='textCenter'>" + counter + "</td>");    
            ViewContext.Writer.Write("<td class='textRight'>" + buyOffer.tbl_Buys_BTCBought + "</td>");
            ViewContext.Writer.Write("<td class='textRight'>R " + buyOffer.tbl_Buys_ZARPrice + "</td>");
            ViewContext.Writer.Write("<td class='textRight'>R " + buyOffer.tbl_Buys_ZARTotal + "</td>");
            ViewContext.Writer.Write("<td class='textRight'>" + buyOffer.tbl_Buys_DateLastModified + "</td>");            
            ViewContext.Writer.Write("</tr>");
        }
    }
</div>
