<div class="col-md-3 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li>
            <a href="about.html"><i class="fa fa-info fa-fw"></i> About</a>
        </li>
        <li class="active">
            <a href="dashboard.html"><i class="fa fa-bar-chart fa-fw"></i> Dashboard</a>
        </li>
        <li class="disabled">
            <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Calendar</a>
        </li>
        <li class="disabled">
            <a href="#"><i class="glyphicon glyphicon-chevron-right"></i> Statistics (Charts)</a>
        </li>
        <li>
            <a href="forms.html"><i class="glyphicon glyphicon-chevron-right"></i> Forms</a>
        </li>
    </ul>
</div>
