@using FastCoinTrader.EnitityModels.EntityHelper


<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 10px;">
        <div class="navbar-inner navbar-content-center bootstrap-admin-light-padding-top">
            <img src="~/Resources/LogoMakr.png" style="width: 100px; height: 50px; position: relative; bottom: 13px; left: 10px;" class="img-thumbnail" />
        </div>
    </nav>
</div>

