@{
    ViewBag.Title = "Fast Coin Trader";
}
@using FastCoinTrader.EnitityModels.EntityHelper


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Trade Dashboard <small>FAQ</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-question-circle"></i> FAQ
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="bs-example col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Test </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Test</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Test</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Test</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test </p>
                    </div>
                </div>
            </div>
        </div>
        <p><strong>Note:</strong> Click on the linked heading text to expand or collapse answers.</p>
        <button style="float:right" type="button" class="btn btn-xs btn-default">Edit Page</button>
    </div>

    <!-- /.row -->
</div>