@{
    ViewBag.Title = "Fast Coin Trader";
}
@using FastCoinTrader.EnitityModels.EntityHelper

<script>
    window.onload = function () {
        var toggle = false;
 
        if (typeof document.getElementsByClassName("editButton")[0] !== "undefined")
        {
            $(".editButton").click(function () {
                if (toggle === false) {
                    $(this).html("Save");
                    toggle = true;
                    $($(this).parent()).find(".panel-title").attr("contenteditable", true).addClass("editable");
                    $($($(this).parent()).parent()).find(".editDiv").attr("contenteditable", true).addClass("editable");
                }
                else {
                    toggle = false;
                    $(this).html("Edit");
                    $($(this).parent()).find(".panel-title").attr("contenteditable", false).removeClass("editable");
                    $($($(this).parent()).parent()).find(".editDiv").attr("contenteditable", false).removeClass("editable");

                    var para = $($($(this).parent()).parent()).find(".editDiv").html();
                    var title = $($(this).parent()).find(".panel-title").html();
                    var index = $(".editButton").index(this);
                    console.log("Title: "+title+" |paragrah: "+para+" |Index: "+index);
                    SavePanel(title, para, index);
                   
                }
            });
        }
    }

function SavePanel(_title, _paragraph, _panelNumber) {
    //var values = {
    //    title: _title,
    //    paragraph: _paragraph,
    //    videoLink: _videoLink,
    //    panelNumber: _panelNumber
    //};
    //alert(JSON.stringify(values));
    $.ajax({
        url: "../FAQ/SaveFAQEntry",
        type: "POST",
        data : JSON.stringify({
            title: _title,
            content: _paragraph,
            panelNumber: _panelNumber
        }),
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        success: function (result) {
            alert(result.Message);
        },
        error: function(){alert("You failure you!")}
    });
}

</script>
<style>
    .editable {
        background-color: #fff !important;
        border: 1px solid #808080;
        color: #000;
    }

    h3.panel-title {
        width: 95%;
    }

    button.edit {
        position: relative;
        bottom: 19px;
        float: right;
    }

    iframe {
        width: 100% !important;
        height: 300px !important;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Trade Dashboard <small>FAQ</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="#">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-question-circle"></i> FAQ
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
        </div>
    </div>
</div>
<!-- /.row -->
@{var FAQEntries = FAQEntityHelper.GetFAQEntries(); }

<div class="row">
    <div class="bs-example col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                        @{if (FAQEntries.Count > 0) { ViewContext.Writer.Write(FAQEntries[0].tbl_FAQ_Title); } }
                    </h4><button type="button" class="btn btn-xs btn-default editButton edit">Edit</button>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="editDiv panel-body">
                        @{if (FAQEntries.Count > 0) { ViewContext.Writer.Write(FAQEntries[0].tbl_FAQ_Content); } }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" >
                   @{if (FAQEntries.Count > 1) { ViewContext.Writer.Write(FAQEntries[1].tbl_FAQ_Title); } }
                    </h4><button type="button" class="btn btn-xs btn-default editButton edit">Edit</button>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="editDiv panel-body">
                        @{if (FAQEntries.Count > 1) { ViewContext.Writer.Write(FAQEntries[1].tbl_FAQ_Content); } }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                   @{if (FAQEntries.Count > 2) { ViewContext.Writer.Write(FAQEntries[2].tbl_FAQ_Title); } }
                    </h4><button type="button" class="btn btn-xs btn-default editButton edit">Edit</button>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="editDiv panel-body">
                        @{if (FAQEntries.Count > 2) { ViewContext.Writer.Write(FAQEntries[2].tbl_FAQ_Content); } }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  @{if (FAQEntries.Count > 3) { ViewContext.Writer.Write(FAQEntries[3].tbl_FAQ_Title); } }
                    </h4><button type="button" class="btn btn-xs btn-default editButton edit">Edit</button>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="editDiv panel-body">
                        @{if (FAQEntries.Count > 3) { ViewContext.Writer.Write(FAQEntries[3].tbl_FAQ_Content); } }
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <!-- /.row -->
</div>
