@model FastCoinTrader.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<img src="~/Resources/LogoMakr.png" style="width: 180px; height: 90px;" />
<h4>Your Friendly Neighbourhood Bitcoin Trading Service :)</h4>
<hr />

<div>
    <p>
        Fast Coin Trader is an online Bitcoin trading platform built to optimize your investment productivity and the cheapest price.
    </p>
</div>
