<div ng-controller="buyDashboardHomeController">
    <form role="form" id="buyDashboardHomeForm" name="buyDashboardHomeForm" novalidate class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <i class="fa fa-shopping-cart fa-fw" style="color: green;"></i> Buy Bitcoin
                </h1>
                <hr />
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h3 style="color: grey">
                    Make An Offer
                </h3>
                <hr />
                <uib-alert type="danger">ERROR!!!</uib-alert>
            </div>

            <div class="form-body">
                <div class="form-group col-md-6">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Amount of BTC"
                               ng-model="buyOffer.amount" ng-change="amountChanged()" ng-required="true" />
                    </div>
                    <label class="col-md-4 remove-left-padding">BTC</label>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Price per BTC"
                               ng-model="buyOffer.pricePerBTC" ng-change="priceChanged()" />
                    </div>
                    <label class="col-md-4 remove-left-padding">ZAR</label>
                </div>

                <div class="form-group col-md-6">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Fee"
                               ng-model="buyOffer.fee | number: 4" ng-readonly="true" />
                    </div>
                    <label class="col-md-4 remove-left-padding">BTC</label>
                </div>
                <div class="form-group col-md-6">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Total Price"
                               ng-model="buyOffer.total" ng-change="totalChanged()">
                    </div>
                    <label class="col-md-4 remove-left-padding">ZAR</label>
                </div>
            </div>
        </div>
        <button ng-disabled="buyOffer.detailsIncomplete()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-shopping-cart fa-fw"></i>
            Buy
        </button>
        <hr />

        <br />
        <!--DATA TABLE SELL OFFERS START-->
        <div class="row">
            <div class="col-md-12">
                <h3 style="color: grey">
                    Available Offers
                </h3>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">For Sale</div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table table-striped table-bordered" id="example">
                            <thead>
                                <tr>
                                    <th st-sort="searchResult.name">Price</th>
                                    <th st-sort="searchResult.amount">BTC</th>
                                    <th st-sort="searchResult.amount">Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr st-select-row="searchResult" ng-repeat="offer in sellOffers">
                                    <td st-ratio="30">{{offer.pricePerBTC | number: 4}}</td>
                                    <td st-ratio="30">{{offer.btc | number: 4}}</td>
                                    <td st-ratio="30">{{offer.total | number: 4}}</td>
                                    <td st-ratio="10">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="populateOffer(offer)">
                                            <i class="fa fa-cart-arrow-down fa-fw"></i>
                                            Buy
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONFIRMATION MODAL START-->
        <div class="modal fade" id="myModal" role="dialog">

            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please confirm your order</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row">
                                <div class="form-group col-md-6 text-muted">
                                    <label class="control-label col-md-6">Amount</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static remove-margin">{{buyOffer.amount | number: 4}}</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 text-muted">
                                    <label class="control-label col-md-6">Price per BTC</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static remove-margin">{{buyOffer.pricePerBTC | number: 4}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 text-muted">
                                    <label class="control-label col-md-6">Fee</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static remove-margin">{{buyOffer.fee | number: 4}}</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 text-muted">
                                    <label class="control-label col-md-6">Total</label>
                                    <div class="col-md-6">
                                        <p class="form-control-static remove-margin">{{buyOffer.total | number: 4}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="submitBuyBitCoin()" data-dismiss="modal">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- CONFIRMATION MODAL END-->
    </form>
</div>




